@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gray-50 text-lg text-foreground;
  }
  .site-section {
    @apply p-4;
  }
  .site-section > .wrapper {
    @apply mx-auto max-w-4xl;
  }
  .site-section > .wrapper > * + * {
    @apply mt-4;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2 px-4 py-2 font-medium transition-all hover:scale-[1.025] active:scale-[0.975];
  }

  .btn.primary {
    @apply bg-gray-800 text-gray-100 ring-offset-2 ring-offset-gray-50 hover:bg-gray-700 active:ring-2 active:ring-gray-800;
  }

  .btn.secondary {
    @apply bg-secondary text-secondary-foreground ring-offset-secondary-foreground hover:bg-secondary-foreground active:ring-secondary ring-offset-2 active:ring-2;
  }

  .btn.destructive {
    @apply bg-destructive text-destructive-foreground ring-offset-destructive-foreground hover:bg-destructive-foreground active:ring-destructive ring-offset-2 active:ring-2;
  }

  .btn.ghost {
    @apply bg-transparent text-gray-800 ring-offset-2 ring-offset-gray-50 hover:bg-gray-50 active:ring-2 active:ring-gray-800;
  }

  .btn:has(> .icon:first-child) {
    @apply pl-2;
  }

  .btn:has(> .icon:last-child) {
    @apply pr-2;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .icon {
    @apply h-6 w-6 text-current;
  }

  .form-input {
    @apply flex w-full items-center gap-2 border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-700;
    @apply focus-within:ring-2 focus-within:ring-gray-100 focus-within:ring-offset-2 focus-within:ring-offset-gray-50 dark:focus-within:ring-gray-700 dark:focus-within:ring-offset-gray-900;
    @apply transition-all;
  }

  .form-input > .icon {
    @apply shrink-0 text-gray-600 dark:text-gray-400;
  }

  .form-input:has(> .icon:is(:first-child), > .icon:is(:last-child)) {
    @apply !pl-4;
  }

  .form-input:has(> .icon:is(:last-child)) {
    @apply !pr-4;
  }

  /* .form-input:has(input:is([type="text"], [type="email"], [type="password"], [type="search"], [type="tel"], [type="url"], [type="number"], [type="date"], [type="time"], [type="datetime-local"], [type="month"], [type="week"], [type="color"], [type="file"], [type="range"], [type="hidden"], [type="image"], [type="submit"], [type="reset"], [type="button"], [type="checkbox"], [type="radio"], [type="range"], [type="search"], [type="tel"], [type="url"], [type="number"], [type="date"], [type="time"], [type="datetime-local"], [type="month"], [type="week"], [type="color"], [type="file"], [type="range"], [type="hidden"], [type="image"], [type="submit"], [type="reset"], [type="button"], [type="checkbox"], [type="radio"], [type="range"], [type="search"], [type="tel"], [type="url"], [type="number"], [type="date"], [type="time"], [type="datetime-local"], [type="month"], [type="week"], [type="color"], [type="file"], [type="range"], [type="hidden"], [type="image"], [type="submit"], [type="reset"], [type="button"], [type="checkbox"], [type="radio"], [type="range"], [type="search"], [type="tel"], [type="url"], [type="number"], [type="date"], [type="time"], [type="datetime-local"], [type="month"], [type="week"], [type="color"], [type="file"], [type="range"], [type="hidden"], [type="image"], [type="submit"], [type="reset"], [type="button"], [type="checkbox"], [type="radio"], [type="range"], [type="search"], [type="tel"], [type="url"], [type="number"], [type="date"], [type="time"], [type="datetime-local"], [type="month"], [type="week"], [type="color"], [type="file"], [type="range"], [type="hidden"], [type="image"], [type="submit"], ) */

  .form-input:has(input) {
    @apply p-0;
  }

  .form-input > input {
    @apply w-full border-none bg-transparent p-3 px-2 focus:outline-none focus:ring-0;
  }

  .form-input:has(~ .form-error) > .icon {
    @apply text-red-600 dark:text-red-300;
  }

  .form-error {
    @apply text-xs text-red-600 dark:text-red-300;
  }
}
